{% extends 'base.html' %}

{% block content %}
<div id="app">
  <div class="container m-5">
    <div class="intro-1-container">
      <div class="intro-1"></div>
      <div class="intro-1-text">
        이 편지는 영국에서 시작되어 어쩌구 저쩌구 이제 큰일남 10명에게 보내지 않으면 평생 로또 당첨 안된다.<br>
        이 편지는 영국에서 시작되어 어쩌구 저쩌구 이제 큰일남 10명에게 보내지 않으면 평생 로또 당첨 안된다.<br>
        이 편지는 영국에서 시작되어 어쩌구 저쩌구 이제 큰일남 10명에게 보내지 않으면 평생 로또 당첨 안된다.<br>
        이 편지는 영국에서 시작되어 어쩌구 저쩌구 이제 큰일남 10명에게 보내지 않으면 평생 로또 당첨 안된다.<br>
        이 편지는 영국에서 시작되어 어쩌구 저쩌구 이제 큰일남 10명에게 보내지 않으면 평생 로또 당첨 안된다.
      </div>
    </div>
  </div>
</div>
{% endblock %}