<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<head lang="ko">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>imgonna</title>

  <!-- style -->
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- script -->
  <!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCErS5F-oOhy9gs7Oeoxeds0YuqShm6-dg&libraries=places"></script>-->
</head>
<body>
  <noscript>
    <div style="position:relative;height:10vh;top:73px;margin:30px;">
      <p style="position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);">
        <b>현재 사이트는 자바스크립트 사용에 최적화 되어 있습니다.<br/> 자바스크립트를 활성화 시켜주세요.</b>
      </p>
    </div>
  </noscript>
  <div id="root"></div>
  <script src="build/bundle.js"></script>
</body>
</html>